<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <title>Alvarado e Hijos | Ferreteria</title>
    <link rel="shortcut icon" th:href="@{/media/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/lux/bootstrap.min.css"
        integrity="sha512-RI2S7J+KOTIVVh6JxrBRNIxJjIioHORVNow+SSz2OMKsDLG5y/YT6iXEK+R0LlKBo/Uwr1O063yT198V6AZh4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img class="logo" th:src="@{/media/logo.png}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="dropdown me-3">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorías
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Herramientas')}">Herramientas</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Ferreteria')}">Ferretería</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Construcción')}">Construcción</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Electricidad')}">Electricidad</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Pinturas')}">Pinturas</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Plomería')}">Plomería</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Jardinería')}">Jardinería</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Madera')}">Madera</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos(categoria='Seguridad')}">Seguridad</a></li>
                    </ul>
                </div>
                <form class="d-flex" role="search" th:action="@{/productos}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="filtro" th:value="${filtro}">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre-nosotros">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}"><img class="avatar" th:src="@{/media/avatar.png}"
                                alt="">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="text-center py-5">
        <h1>Ofrecemos las mejores herramientas</h1>
        <p>A la mejor calidad y precio</p>
    </header>

    <!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://d100mj7v0l85u5.cloudfront.net/s3fs-public/2023-03/que-vender-en-una-ferreteria.png"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://stakeholders.com.pe/wp-content/uploads/2020/08/foto-1-1.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://scontent.fpio1-1.fna.fbcdn.net/v/t39.30808-6/294907730_906977410241210_450775924030847197_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeETWxb1A0ygxWTEphRhRbfPN9Smt8LqTFc31Ka3wupMV8_Q1RpZNOqqQ8VumPWsDblspXYIdJ60FloqKvW6Q7KB&_nc_ohc=tu7MbiX1RmkQ7kNvgGdpxzz&_nc_ht=scontent.fpio1-1.fna&oh=00_AYB2syKIyLLd1gGQffAJRk1s_FT2Ge6RTqW90VdGX3FCAQ&oe=66FFBBB8"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <!-- Sobre Nosotros -->
    <section id="sobre-nosotros" class="py-5">
        <div class="container text-center">
            <h2>Sobre Nosotros</h2>
            <p class="lead">En Alvarado e Hijos, somos una ferretería familiar con más de 20 años de experiencia,
                ubicada en el corazón de Ica, Perú. Nos enorgullece ser un referente en la región, ofreciendo una amplia
                gama de productos de calidad para la construcción, el hogar y la industria.</p>
        </div>
    </section>

    <!-- Productos -->
    <section id="productos" class="py-5">
        <div class="container">
            <h2 class="text-center text-dark mb-5">Nuestros Productos</h2>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="producto : ${productos}">
                    <div class="card mb-4">
                        <img th:src="${producto.imagenURL}" class="card-img-top">
                        <div class="card-body d-flex flex-column justify-content-around">
                            <h5 class="card-title" th:text="${producto.nombre}"></h5>
                            <p class="card-text" th:text="'Precio: S/' + ${producto.precio}"></p>
                            <p class="card-text" th:text="'Cantidad: ' + ${producto.cantidad}"></p>
                            <p class="card-text" th:text="'Categoría: ' + ${producto.categoria}"></p>
                            <button class="btn btn-primary" th:onclick="'mostrarProducto(' + ${producto.id} + ')'">Mostrar mas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="contacto" class="bg-dark text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-white">Contacto</h5>
                    <p>Dirección: Calle Cajamarca 208, Ica, Perú.</p>
                    <p>Teléfono: +51 952 160 898</p>
                    <p>Email: </p>
                </div>
                <div class="col-md-6">
                    <h5 class="text-white">Ubicación</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d621.8331033187633!2d-75.72728791147117!3d-14.06391684219184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses-419!2spe!4v1727306495638!5m2!1ses-419!2spe"
                        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>
                </div>
            </div>
        </div>
    </footer>
    <script th:src="@{/js/detalleproducto.js}"></script>
</body>

</html>